@{
    ViewData["Title"] = "Email Exists";
}


<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
</style>

<div class="center-content">
    <h1>Email Exists</h1>

    <p>The email already exists in the database.</p>

    <p>
        <a asp-controller="Home" asp-action="Index">Go back to home page</a>
    </p>
</div>