@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome</h1>
</div>

<p class="text-center mt-5">Please enter your email address below</p>

@*
    TODO: Add HTML input for the email
    TODO: Add HTML button to send the email to /Home/CheckEmail
    TODO: Add HTML button to send the email to /Home/SaveEmail
    TODO: Add HTML button to request the email from /Home/GetEmail
*@ 


@section Scripts 
{
    @* 
        TODO: Add scripts
    *@
}